image: rust:latest

stages:
  - check
  - test

variables:
  CARGO_HOME: "$CI_PROJECT_DIR/.cargo"

cache:
  key: "cargo"
  paths:
    - .cargo/
    - target/

check:
  stage: check
  script:
    - rustc --version
    - cargo fmt -- --check
    - cargo clippy -- -D warnings

test:
  stage: test
  script:
    - cargo test
